
body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

header {
    background-color: bisque;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
}

nav {
    background-color: #ff9100;
    color: #000;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffce92;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.contenedor {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

li a:hover {
    color: #e74c3c;
    text-decoration: none;
}

#contenido {
    height: auto;
    width: 58%;
    background-color: #362f2f;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background-color: #b1c4d8;
}


@media screen and (max-width: 700px) {
    #contenedor {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    nav,
    .row {
        flex-direction: column;
    }

    body {
        background-color: #434430;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        align-items: center;
        margin: 2px;
    }

    .encabezado-aside {
        text-align: center;
        width: 100%;
        margin-left: 0em;
    }

    #encabezado {
        width: auto;
        padding: 0;
    }

    #footerfotos {
        text-align: center;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .img{
        width: 90%;
    }
}


.seccion {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 33%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}


#contenedor {
    width: 900px;
    height: auto;
    background-color: none;
    max-width: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    border-style: groove;
}

.producto {
    width: calc(33.33% - 20px); /* Un tercio del contenedor con un espacio de 20px entre productos */
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    border-style: outset;
    box-sizing: border-box; /* Para incluir el padding y border en el ancho */
}

.producto-imagen {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor del producto */
    height: auto;
    margin-bottom: 10px;
}

.producto-codigo,
.producto-nombre,
.producto-precio,
.producto-status {
    margin: 5px 0;
}
